# Binary assets fetched by build.rs are pinned via checksums.toml and
# kept out of git. Only this file, checksums.toml, and the upstream
# Apache-2.0 LICENSE template (used by build.rs to populate model
# resource directories) are tracked.
*
!.gitignore
!checksums.toml
!LICENSE-APACHE-2.0
